body {
  background-color: blue;
}

h1 {
  text-align: center;
  background-color: blue;
  color: white;
}

p {
  text-align: center;
  background-color: blue;
  color: white;
}

ul {
  text-align: center;
  color: white;
}
